:root {
    --black: #000000;
    --blue: #1E2832;
    --white: #FFFFFF;
    --gray: rgba(30, 40, 50, 0.05);
    --roboto: 'Roboto', sans-serif;
    --open: 'Open Sans', sans-serif;
}


.container {
    max-width: 1200px;
    padding-left: 8px;
    padding-right: 8px;
}

.mauto {
    margin: auto;
}

.title-1 {
    font-size: 7.4rem;
    font-weight: 300;
    
}


.paragraph-1 {
    line-height: 55px;
    font-weight: 400;
    font-size: 3rem;
    text-transform: capitalize;
}
#brands{
    padding: 90px 0;
}
.list-brands{
    display: flex;
    justify-content: space-between;
}
.column{
    display: flex;
    flex-direction: column;
}